<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <title>BarberShop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<header>

    <h1>💈 BarberShop</h1>

    <p>Reservá tu turno de manera rápida y sencilla.</p>

</header>

<nav>

    <a href="{{ url_for('index') }}" style="color: black;">Inicio</a>

    <a href="{{ url_for('nuevo') }}" style="color: black;">Reservar Turno</a>

</nav>

<section class="busqueda">

    <form action="{{ url_for('buscar') }}" method="POST">

        <input
        type="text"
        name="buscar"
        placeholder="Buscar cliente">

        <button type="submit">

            Buscar

        </button>

    </form>

</section>

<section>

<h2>Turnos Registrados</h2>

<table>

<thead>

<tr>

<th>ID</th>

<th>Cliente</th>

<th>Servicio</th>

<th>Barbero</th>

<th>Precio</th>

<th>Fecha</th>

<th>Hora</th>

<th>Estado</th>

<th>Acciones</th>

</tr>

</thead>

<tbody>

{% for turno in turnos %}

<tr>

<td>{{ turno.id_turno }}</td>

<td>{{ turno.nombre }} {{ turno.apellido }}</td>

<td>{{ turno.servicio }}</td>

<td>{{ turno.empleado }}</td>

<td>${{ turno.precio }}</td>

<td>{{ turno.fecha }}</td>

<td>{{ turno.hora }}</td>

<td>{{ turno.estado }}</td>

<td>

<a href="{{ url_for('editar', id=turno.id_turno) }}">

<button class="editar">

Editar

</button>

</a>

<a
href="{{ url_for('eliminar', id=turno.id_turno) }}"
onclick="return confirm('¿Desea eliminar este turno?')">

<button class="eliminar">

Eliminar

</button>

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</section>

</body>

</html>