*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    background:#09bd06;

    color:rgba(20, 2, 2, 0.774);

}

header{

    background:#000;

    text-align:center;

    padding:30px;

    border-bottom:4px solid gold;

}

header h1{

    color:gold;

    font-size:40px;

}

header p{

    margin-top:10px;

    color:#ddd;

}

nav{

    background:#1b1b1b;

    display:flex;

    justify-content:center;

    gap:20px;

    padding:20px;

}

nav a{

    text-decoration:none;

    color:white;

    background:gold;

    color:black;

    padding:12px 20px;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;

}

nav a:hover{

    background:white;

}

.busqueda{

    display:flex;

    justify-content:center;

    margin:30px;

}

.busqueda input{

    width:300px;

    padding:10px;

    border-radius:6px;

    border:none;

}

.busqueda button{

    margin-left:10px;

    padding:10px 20px;

    border:none;

    background:gold;

    cursor:pointer;

    border-radius:6px;

    font-weight:bold;

}

.busqueda button:hover{

    background:white;

}

section{

    width:90%;

    margin:auto;

}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:25px;

    background:white;

    color:black;

}

th{

    background:gold;

    padding:15px;

}

td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #ccc;

}

tr:hover{

    background:#ececec;

}

.editar{

    background:#3498db;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;

}

.editar:hover{

    background:#217dbb;

}

.eliminar{

    background:#e74c3c;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;

}

.eliminar:hover{

    background:#c0392b;

}

.contenedor-formulario{

    width:600px;

    margin:40px auto;

    background:#1d1d1d;

    padding:30px;

    border-radius:12px;

    box-shadow:0px 0px 15px rgba(0,0,0,.5);

}

form{

    display:flex;

    flex-direction:column;

}

label{

    margin-top:15px;

    margin-bottom:8px;

}

input{

    padding:12px;

    border:none;

    border-radius:6px;

}

select{

    padding:12px;

    border:none;

    border-radius:6px;

}

.botones{

    display:flex;

    justify-content:space-between;

    margin-top:30px;

}

.guardar{

    background:gold;

    color:black;

    border:none;

    padding:12px 25px;

    border-radius:6px;

    cursor:pointer;

    font-weight:bold;

}

.guardar:hover{

    background:white;

}

.cancelar{

    background:#777;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:6px;

    cursor:pointer;

}

.cancelar:hover{

    background:#555;

}

footer{

    margin-top:60px;

    text-align:center;

    padding:30px;

    background:#000;

    color:#ccc;

}

@media(max-width:900px){

table{

    display:block;

    overflow-x:auto;

}

.contenedor-formulario{

    width:90%;

}

.busqueda input{

    width:180px;

}

nav{

    flex-direction:column;

    align-items:center;

}
}